* {
  box-sizing: border-box;
}

body {
  color: #566b78;
  margin: 0;
}

.wrap {
  width: 80%;
  margin: 0 auto;
}

#header {
  height: 10%;
}

#main {
  height: 80%;
}

#footer {
  height: 10%;
}
