[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
redis = "*"
flask-caching = "*"
requests = "*"
Jinja2 = ">=2.10.1"

[dev-packages]

