body {
  padding-top: 40px;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -1rem, 0);
  }
}

.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader > div {
  animation: bouncing-loader 0.6s infinite alternate;
  background: #ecf;
  width: 1rem;
  height: 1rem;
  margin: 3rem 0.2rem;
  border-radius: 50%;
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

table {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-collapse: collapse;
}

table * {
  position: relative;
}

table td, table th {
  padding: 8px;
}

table thead tr {
  background: #ecf;
  height: 60px;
}

table tbody tr {
  height: 50px;
}

table td, table th {
  text-align: left;
}

table td.l, table th.l {
  text-align: right;
}

table td.c, table th.c {
  text-align: center;
}

table td.r, table th.r {
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-size: 15px;
  font-weight: unset;
  color: #808080;
  line-height: 1.2;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}

a {
  color: #e81c4f;
}
