{% extends "index/layout.html" %}

{% block title %}Viwp · 404{% endblock title %}

{% block meta %}
  {{ super() }}
  <meta name="description" content="[404 Not Found] - Nothing matches the given URI">
{% endblock meta %}

{% block styles %}
  {{ super() }}
  <style>
   body {
       text-align: center;
   }
   .error-template {
       padding: 40px 15px;
       text-align: center;
   }
  </style>
{% endblock %}

{% block main %}
  <div class="error-template">
    <h1>Hi!</h1>
    <h2>404 Not Found</h2>
    <div>
      <p>Sorry, an error has occured, Requested page not found!</p>
      <p>
        <a href="/">Go back !</a>
      </p>
    </div>
  </div>
{% endblock %}
