{% extends "index/layout.html" %}

{% block title %}Viwp · 500{% endblock title %}

{% block meta %}
  {{ super() }}
  <meta name="description" content="[500 Internal Server Error] - Server got itself in trouble">
{% endblock meta %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="error-template">
          <h1>Hi!</h1>
          <h2>500 Internal Server Error</h2>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
