{% extends "index/layout.html" %}

{% block title %}Viwp · 500{% endblock title %}

{% block meta %}
  {{ super() }}
  <meta name="description" content="[500 Internal Server Error] - Server got itself in trouble">
{% endblock meta %}

{% block styles %}
  {{ super() }}
  <style>
   body {
       text-align: center;
   }
   .error-template {
       padding: 40px 15px;
       text-align: center;
   }
  </style>
{% endblock %}

{% block main %}
  <div class="error-template">
    <h1>Hi!</h1>
    <h2>500 Internal Server Error</h2>
    <div>
      Sorry, an error occurred inside the server, please wait and try again!
    </div>
  </div>
{% endblock %}
