<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
  {% block html %}
    <head>
      {% block head %}
        <title>{% block title %}{% endblock title %}</title>

        {% block meta %}
          <meta charset="utf-8" />
          <meta name="author" content="rgb-24bit">
          <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% endblock meta %}

        {% block favicon %}
          <!-- favicon -->
          <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
          <link rel="icon" href="/static/favicon.ico"type="image/x-icon">
        {% endblock favicon %}

        {% block styles %}
          <!-- base layout style -->
          <link rel="stylesheet" href="/static/common/css/layout.css">
        {% endblock styles %}
      {% endblock head %}
    </head>
    <body{% block body_attribs %}{% endblock body_attribs %}>
      {% block body %}
        <div id="header" class="wrap">
          {% block header %}{% endblock header %}
        </div>

        <div id="main" class="wrap">
          {% block main %}{% endblock main %}
        </div>

        <div id="footer" class="wrap">
          {% block footer %}{% endblock footer %}
        </div>

        {% block scripts %}{% endblock scripts %}
      {% endblock body %}
    </body>
  {% endblock html %}
</html>
