<!DOCTYPE html>
<html lang="zh-Hans">
  {% block html %}
    <head>
      {% block head %}
        <title>{% block title %}{% endblock title %}</title>

        {% block meta %}
          <meta charset="utf-8" />
          <meta name="author" content="rgb-24bit">
          <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% endblock meta %}

        {% block favicon %}
          <!-- favicon -->
          <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
          <link rel="icon" href="/static/favicon.ico"type="image/x-icon">
        {% endblock favicon %}

        {% block styles %}
          <!-- Bootstrap -->
          <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% endblock styles %}
      {% endblock head %}
    </head>
    <body>
      {% block body %}
        {% block navbar %}
        {% endblock navbar %}

        {% block content %}
        {% endblock content %}

        {% block scripts %}
          <!-- jquery -->
          <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          <!-- bootstrap -->
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% endblock scripts %}
      {% endblock body %}
    </body>
  {% endblock html %}
</html>
